.input-field{
  border: 1px solid rgba(51,51,51,.5);
  padding: 5px;
  font-size: 16px;
  line-height: 20px;
  width: 60%;
  text-align: center;
}

.input-container{
  margin: 10px 5px;
  padding: 5px 0;
}

a{
  color: #83756f;
  margin: 2px;
  text-decoration: none;
}
