  <div>
    <section id="todoapp">
      <header>
        <h1>stamplay todos</h1>
      </header>
    </section>

    <section style="text-align:center">
      <div class="input-container">
        <input ng-model="email" class="input-field" id="email" placeholder="your email" type="text"/> 
      </div>
      <div class="input-container">
        <input ng-model="password" class="input-field" id="password" placeholder="your password" type="password"/>
      </div>
      <div class="input-container">
        <input
          ng-show="loginYes"
          ng-click="login()" 
          class="input-field" 
          style="color:white;" 
          id="register" 
          type="button" 
          value="Login"
        />

        <input
          ng-show="signupYes"
          ng-click="signup()" 
          class="input-field" 
          style="color:white;" 
          id="register" 
          type="button" 
          value="Signup"
        />
      </div>

      <span ng-show="loginYes">Don't have an account? 
        <a href="#" ng-click="toggleMode()">Register here</a>
      </span>

      <span ng-show="signupYes">Already have an account? 
        <a href="#" ng-click="toggleMode()">Login here</a>
      </span>


    </section>

    <footer id="info">
      <p>Give us feedback on :
        <a href="#">Github</a>,
        <a href="#">Facebook</a>,
        <a href="#">Twitter</a>
      </p>
      <p>Inspired by <a href="http://todomvc.com">TodoMVC</a></p>
    </footer>

  </div>
